.margin-left-l {
  margin-left: 4rem;
}
.margin-right-l {
  margin-right: 4rem;
}

.margin-bottom-l {
  margin-bottom: 4rem;
}

.margin-l {
  margin: 4rem;
}
.padding-x-l {
  padding: 0 4rem;
}

.padding-y-l {
  padding: 4rem 0;
}

.padding-l {
  padding: 4rem;
}

.padding-x-md {
  padding: 0 2rem;
}

.padding-y-md {
  padding: 2rem 0;
}

.padding-md {
  padding: 2rem;
}
